## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bbin/
bin/
obj/

## Visual Studio 2015/2017 cache and settings
.vs/

## SQL Server files
*.ldf

## Backup and recovery files
/_Chutzpah.*/
*.bak
*.cache
*.ilk
*.log
*.pdb
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.meta